<!-- Call To Action Section Start -->
<section id="cta" class="section" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">            
            <div class="cta-text">
            <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.</h5>
            </div>
        </div>
        </div>
    </div>
    </section>
    <!-- Call To Action Section Start -->
